*{
    margin: 0; padding: 0;
}
body{
    background-color: blueviolet;
    text-align: center;
    align-items: center;
    
}
header{
    color: white;
    text-align: center;
}
#menu{
    padding: 1rem;
    background-color: white;
    text-align: left;
    border-radius: 20px;
    flex-direction: column;
    width: 30%;
    margin: auto;

}
#topmenu{
    margin: 0.5rem;
    display: flex;
}
#nota{
    text-align: left;
}
#inputtxt{
    align-items: center;
}
#textearea{
    margin: 0.5rem;
    display: flex;
    width: auto;
}
#calcmediabut{
    margin: 0.5rem;
    text-align: left;
}
#textmedia{
    display: flex;
    margin: 0.5rem;
    text-align: left;
}
